* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#container {
  width: 50%;
  margin: 50px auto;
  border: 2px solid gray;
}

#container img {
  width: 100%;
}

